---
title: C4 lab
layout: splash
author_profile: false
header:
  overlay_image: /assets/images/sna-image-header.png
intro:
- excerpt: 'Phasellus et lorem id felis nonummy placerat. Nullam at arcu a est sollicitudin euismod. Praesent vitae arcu tempor neque lacinia pretium. Donec iaculis gravida nulla. Proin in tellus sit amet nibh dignissim sagittis. Vestibulum fermentum tortor id mi. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Etiam bibendum elit eget erat. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Pellentesque pretium lectus id turpis.'
feature_row:
  - image_path: /assets/images/conspiracies.jpg
    alt: "Everything is connected!"
    title: "Projects & papers"
    excerpt: "We map conspiracy theories narratives, analyze cognitive inertia and what causes people to (not) change their decisions, and develop tools to help people understand information and knowledge."
    url: "#test-link"
    btn_label: "Read more about our work"
    btn_class: "btn--inverse"
  - image_path: /assets/images/ischool.jpg
    alt: "iSchool, Syracuse University"
    title: "C4 lab"
    excerpt: "We all come from different background but you can find us all in the iSchool at Syracuse University. #goOrange!"
    url: "#test-link"
    btn_label: "Get to know us!"
    btn_class: "btn--inverse"
  - image_path: /assets/images/writing.jpg
    title: "Funding"
    excerpt: "We could not be where we are without those who generously fund our research."
    url: "#test-link"
    btn_label: "Meet the funders"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}



