---
title: C4 lab
layout: splash
author_profile: false
header:
  overlay_image: /assets/images/sna-image-header.png
intro:
- excerpt: '<b>Welcome!</b></br> Have you ever wondered <u>how conspiracy theory narratives are developed</u>? What makes people change their mind? How is it possible that <u>a belief system is such a powerful concept</u>? Are you curious in how <u>social networks support spreading of knowledge</u>? You are at the right place! </br> We at <b>C4 lab at iSchool, Syracuse University</b> research all that, and much more.'
feature_row:
  - image_path: /assets/images/conspiracies.jpg
    alt: "Everything is connected!"
    title: "Projects & papers"
    excerpt: "We map conspiracy theories narratives, analyze cognitive inertia, which belief systems cause people to (not) change their decisions, and we develop tools to help people understand information and knowledge."
    url: "#test-link"
    btn_label: "Read more about our work"
    btn_class: "btn--inverse"
  - image_path: /assets/images/ischool.jpg
    alt: "iSchool, Syracuse University"
    title: "C4 lab"
    excerpt: "We all come from different background but you can find us all in the iSchool at Syracuse University. #goOrange!"
    url: "#test-link"
    btn_label: "Get to know us!"
    btn_class: "btn--inverse"
  - image_path: /assets/images/writing.jpg
    title: "Funding"
    excerpt: "We could not be where we are without those who generously fund our research."
    url: "#test-link"
    btn_label: "Meet the funders"
    btn_class: "btn--inverse"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}



