---
title: C4 lab
layout: splash
author_profile: false
header:
  overlay_image: /assets/images/sna-image-header.png
intro:
- excerpt: 'Phasellus et lorem id felis nonummy placerat. Nullam at arcu a est sollicitudin euismod. Praesent vitae arcu tempor neque lacinia pretium. Donec iaculis gravida nulla. Proin in tellus sit amet nibh dignissim sagittis. Vestibulum fermentum tortor id mi. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Etiam bibendum elit eget erat. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Pellentesque pretium lectus id turpis.'
feature_row:
  - image_path: /assets/images/conspiracies.jpg
    alt: "placeholder image 1"
    title: "Mapping of conspiracy theories"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/ischool.jpg
    alt: "placeholder image 2"
    title: "C4 lab"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/writing.jpg
    title: "Funding"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}



